.logo{color:#fff}
.header{background-color:#008000;}.header__logoCont{padding:10px}
@font-face{font-family:'ProximaNovaRegular';src:url("..app/fonts/ProximaNovaRegular/ProximaNovaRegular.eot");src:url("..app/fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format('embedded-opentype'),url("..app/fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format('woff'),url("..app/fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format('truetype'),url("..app/fonts/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular") format('svg');font-weight:normal;font-style:normal}
.basicContainer{max-width:1170px;box-sizing:border-box;margin:0 auto;padding:0 15px}@media screen and (max-width:1140px){.basicContainer{max-width:1140px}}@media screen and (max-width:750px){.basicContainer{min-width:320px}}

*{margin:0;padding:0}body{background-color:#9acd32;font-size:20px}
.svg-dolphin,.svg-history{background:url("../images/sprite-5f59d7ca.svg") no-repeat}.svg-dolphin{background-position:0 0}.svg-dolphin-dims{width:50px;height:36px}.svg-history{background-position:0 100%}.svg-history-dims{width:50px;height:48px}
