// Fonts mixin
font-url(file)
  return '..app/fonts/' + file + '/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file)+ '.eot')
    src url(font-url(file)+ '.eot?#iefix') format('embedded-opentype'), url(font-url(file)+ '.woff') format('woff'),  url(font-url(file)+ '.ttf') format('truetype'),  url(font-url(file)+ '.svg#'+ family) format('svg')
    font-weight weight
    font-style normal


webfont('ProximaNovaRegular', 'ProximaNovaRegular', normal)
