@require 'variables.styl'

.basicContainer
  max-width $maxContainerWidth
  box-sizing border-box
  margin 0 auto
  padding 0px 15px

@media screen and (max-width: $responsiveTablet)
  .basicContainer
    max-width $responsiveTablet

@media screen and (max-width: $responsivePhone)
  .basicContainer
    min-width $minContainerWidth