/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_tw_name = 'icon-tw';
$icon_tw_x = 0px;
$icon_tw_y = 0px;
$icon_tw_offset_x = 0px;
$icon_tw_offset_y = 0px;
$icon_tw_width = 22px;
$icon_tw_height = 22px;
$icon_tw_total_width = 22px;
$icon_tw_total_height = 44px;
$icon_tw_image = 'app/images/sprite.png';
$icon_tw = 0px 0px 0px 0px 22px 22px 22px 44px 'app/images/sprite.png' 'icon-tw';
$icon_you_name = 'icon-you';
$icon_you_x = 0px;
$icon_you_y = 22px;
$icon_you_offset_x = 0px;
$icon_you_offset_y = -22px;
$icon_you_width = 22px;
$icon_you_height = 22px;
$icon_you_total_width = 22px;
$icon_you_total_height = 44px;
$icon_you_image = 'app/images/sprite.png';
$icon_you = 0px 22px 0px -22px 22px 22px 22px 44px 'app/images/sprite.png' 'icon-you';
$spritesheet_width = 22px;
$spritesheet_height = 44px;
$spritesheet_image = 'app/images/sprite.png';
$spritesheet_sprites = $icon_tw $icon_you;
$spritesheet = 22px 44px 'app/images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
