$svg-common 
	background url("../../app/images/sprite-5f59d7ca.svg") no-repeat

.svg-dolphin
	@extend $svg-common
	background-position 0 0

.svg-dolphin-dims
	width 50px
	height 36px

.svg-history
	@extend $svg-common
	background-position 0 100%

.svg-history-dims
	width 50px
	height 48px

